
<header class="hero is-primary">
  <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand is-large">
            <a class="navbar-item" href="https://geejay81.github.io/map-test">
              <i class="fa fa-bicycle is-large"></i> TfL Cycles Dock Capacity
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item is-large">
                <a href="https://github.com/geejay81/map-test" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </div>
              <div class="navbar-item">
                <a href="https://twitter.com/gregparr" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <div class="navbar-item">
                <a href="https://www.linkedin.com/in/greg-parr-26918741/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bike Points
      </h1>
      <h2 class="subtitle">
        Find points with bikes or free docks
      </h2>
    </div>
  </div>
</header>
