<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns">
        <div class="column is-two-thirds">
          <p>
            This is a test project that uses data from the TfL API. Built using Google Maps API, Angular-CLI.
          </p>
        </div>
        <div class="column">
          <p>
            <a href="https://bulma.io" target="_blank">
              <img src="assets/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="256" height="48">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
