<section class="section is-light">
  <h3 class="title">Technologies and Packages</h3>
  <p class="subtitle">Some of the technologies and packages used to create this site.</p>
  <div class="columns is-multiline">
    <div class="column has-text-centered is-one-third">
      <div class="notification is-danger">
        <div class="icon is-large"><i class="fa fa-code fa-5x"></i></div>
        <p class="title">Angular</p>
        <p class="subtitle">Angular 5 and Angular CLI were used to create the application.</p>
      </div>
    </div>
    <div class="column has-text-centered is-one-third">
      <div class="notification is-primary">
        <div class="icon is-large"><i class="fa fa-css3 fa-5x"></i></div>
        <p class="title">Bulma</p>
        <p class="subtitle">Bulma is a CSS framework used to tyle the pages.</p>
      </div>
    </div>
    <div class="column has-text-centered is-one-third">
      <div class="notification is-info">
        <div class="icon is-large"><i class="fa fa-map-marker fa-5x"></i></div>
        <p class="title">Google Maps</p>
        <p class="subtitle">Markers are used to represent Bike Docks in London.</p>
      </div>
    </div>
    <div class="column has-text-centered is-one-third">
        <div class="notification is-warning">
          <div class="icon is-large"><i class="fa fa-html5 fa-5x"></i></div>
          <p class="title">HTML5</p>
          <p class="subtitle">HTML5 is used to layout the pages, including semantic tags.</p>
        </div>
      </div>
    <div class="column has-text-centered is-one-third">
        <div class="notification is-link">
          <div class="icon is-large"><i class="fa fa-subway fa-5x"></i></div>
          <p class="title">TfL</p>
          <p class="subtitle">The latest data is drawn from the Transport for London API.</p>
        </div>
      </div>
  </div>
</section>
