<app-header title="{{ title }}"></app-header>
<agm-map
  [latitude]="mapCentre.lat"
  [longitude]="mapCentre.lng"
  [zoom]="mapCentre.zoom">
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="{ text: m.bikes, color: '#000' }"
    [title]="m.location"
    (markerClick)="clickedMarker(m.label, infoWindow, i)">
    <agm-info-window #infoWindow>
      <h4>{{ m.location }}</h4>
      <p>Bikes: {{ m.bikes }}</p>
      <p>Free Docks: {{ m.emptyDocks }}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>
