.bakerloo {
background-color: rgb(178,99,0);
color: #fff;
}

.central {
background-color: rgb(220,36,31);
color: #fff;
}

.circle {
background-color: rgb(255,211,41);
color: #fff;
}

.district {
background-color: rgb(0,125,50);
color: #fff;
}

.dlr {
background-color: rgb(0,175,173);
color: #fff;
}

.emirates-air-line {
background-color: rgb(220,36,31);
color: #fff;
}

.hammersmith-city {
background-color: rgb(244,169,190);
color: #fff;
}

.jubilee {
background-color: rgb(161,165,167);
color: #fff;
}

.london-overground {
background-color: rgb(239,123,16);
color: #fff;
}

.metropolitan {
background-color: rgb(155,0,88);
color: #fff;
}

.northern {
background-color: rgb(0,0,0);
color: #fff;
}

.piccadilly {
background-color: rgb(0,25,168);
color: #fff;
}

.tram {
background-color: rgb(0,189,25);
color: #fff;
}

.victoria {
background-color: rgb(0,152,216);
color: #fff;
}

.waterloo-city {
background-color: rgb(147,206,186);
color: #fff;
}
