<div class="{{ 'hero ' + line.id }}">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="color: #fff;">{{ line.name }}</h1>
      <h2 class="subtitle" style="color: #fff;">Current Line Status</h2>
      <p><a routerLink='/travel' class="button">Back to Travel Summary</a></p>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="card" *ngFor="let status of line.lineStatuses">
      <div class="card-header">
        <p class="card-header-title">
          {{ status.statusSeverityDescription }}
        </p>
      </div>
      <div class="card-content" *ngIf="status.reason != null">
        <p class="subtitle">Details</p>
        <p>{{ status.reason }}</p>
        <br>
        <p *ngIf="status.disruption != null">{{ status.disruption.additionalInfo }}</p>
        <br>
        <p class="subtitle">Affected Routes</p>
        <ul>
          <li *ngFor="let route of status.disruption.affectedRoutes">{{ route.name }}</li>
        </ul>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</section>

<div class="{{ 'modal' + (this.isLoading === true ? ' is-active' : '') }}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="message">
      <div class="container">
          Loading ...
      </div>
    </div>
  </div>
</div>
